/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Divisão 1 (Banner Principal) */
#divisao1 {
    background-color: #303030;
    padding: 150px 10%;
    color: #faf7f7;
    text-align: center;
}

.titulo {
    font-size: 48px;
}

.textodotitulo {
    font-size: 18px;
    margin-top: 10px;
}

/* Divisão 2 (Estatísticas) */
#divisao2 {
    background-color: #e9e9e9;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#divisao2 h1 {
    font-size: 48px;
}

#divisao2 p {
    font-size: 18px;
}

/* Divisão 3 (Descrição com Imagem) */
#divisao3 {
    padding: 50px 10%;
    position: relative;
}

#titulodiv3 {
    font-size: 36px;
    margin-bottom: 20px;
}

#textodiv3 {
    font-size: 20px;
    line-height: 1.5;
}

#imagem {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Formulário */
#divdoformulario {
    background-color: #303030;
    padding: 50px 10%;
    color: #ffffff;
    text-align: center;
}

#divdoformulario input {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.input {
    background-color: #C07212;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.input:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px #ac722b;
    transition-duration: 0.5s;
}

/* Responsividade para telas menores */
@media screen and (max-width: 1324px) {
    #divisao2 {
        flex-direction: column;
    }

    #divisao2 h1, #divisao2 p {
        margin-bottom: 20px;
    }

    #imagem {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    #divisao1 {
        padding: 100px 5%;
    }

    .titulo {
        font-size: 32px;
    }

    .textodotitulo {
        font-size: 16px;
    }

    #divisao2 {
        padding: 20px 5%;
        font-size: 24px;
    }

    #divisao2 h1 {
        font-size: 36px;
    }

    #divisao3 {
        padding: 20px 5%;
    }

    #titulodiv3 {
        font-size: 28px;
    }

    #textodiv3 {
        font-size: 16px;
    }

    #imagem {
        max-width: 200px;
    }

    #divdoformulario {
        padding: 20px 5%;
    }

    #divdoformulario input {
        max-width: 100%;
    }

    .input {
        font-size: 18px;
    }
}
